@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}

// Font settings

$font-family-base: 'Inter', sans-serif;

// font weight 

$font-weight-light: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// font size

$font-size-base: rem-calc(32);
$font-size-medium: rem-calc(20);
$font-size-small: rem-calc(18);
$font-size-smaller: rem-calc(15);

// headings size

$font-size-headidng-main: rem-calc(80);
$font-size-headidng-medium: rem-calc(62);
$font-size-headidng-main-small: rem-calc(36);


// Color settings

$color-base: #202047;

$color-primary: #B9B9CE;

// Size settings